{:output-dir "out"
 :output-to "out/main.js"
 :optimizations :none
 :main obelix.core
 :target :nodejs
 :install-deps true
 :npm-deps {:handlebars "4.7.6"
            :js-yaml "3.14.0"
            :rehype "11.0.0"
            :rehype-format "3.1.0"
            :rehype-stringify "8.0.0"
            :remark-parse "8.0.2"
            :remark-rehype "7.0.0"
            :unified-stream "1.0.6"
            :unified "9.0.0"
            :vfile "4.2.0"}}
