{:deps {com.taoensso/timbre {:mvn/version "5.1.0"}
        hiccups/hiccups {:mvn/version "0.3.0"}
        org.clojure/clojurescript {:mvn/version "1.10.758"}
        org.clojure/tools.cli {:mvn/version "1.0.194"}}}
