header {
    position: sticky;
    height: 60px;
    top: 0px;
    margin: 0 auto 0 auto;
    padding: 0 32px 0 32px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    height: 60px;
    display: flex;
}

nav {
    max-width: 1100px;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    flex-grow: 1;
}

nav > * + * {
    margin-left: 1em;
}

nav img {
    display: inline;
    margin: 0;
    width: 25px;
    height: auto;
}

main {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr min(80ch, 100%) 1fr;
}

main > * {
    grid-column: 2;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
