main {
    display: grid;
    grid-template-columns: 1fr min(80ch, 100%) 1fr;
}

main > * {
    grid-column: 2;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
